@use '../../GlobalStyles/GlobalStyles.scss';

.wrapper {
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 245px;
    color: GlobalStyles.$color-text;
    border-left: 1px solid GlobalStyles.$color-light-text;
    animation: modalIn 0.8s ease;
    z-index: 1;
}

@keyframes modalIn {
    from {
        transform: translateX(-500px);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.container {
    width: 400px;
    height: 100vh;
    padding: 8px 0;
    position: relative;
    background-color: GlobalStyles.$color-primary;
}
